@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(23, 23, 99);
    color: white;
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.329);
}

body {
    font-family: 'Open Sans', sans-serif;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(23, 23, 99);
    color: white;
    width: 400px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.329);
}

footer h3 {
    margin: auto;
}

#profilePic {
    width: 150px;
    border-radius: 3px;
    margin: 10px auto;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.603);
}

#name {
    margin: auto;
}

.titleRule {
    width: 400px;
    margin-left: 0;
}

#title {
    margin-bottom: 0;
}

#lastUpdate {
    margin: auto;
    padding: 5px 0px;
}

#footerCaption {
    margin: auto;
    padding: 5px 0px;
}