@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
    display: table;
    margin: auto;
}

header, footer {
    background-color: rgb(10, 32, 50);
    color: white;
    padding: 5px 10px;
    margin: auto;
    width: 1000px;;
}

h3 {
    background-color: rgb(58, 73, 88);
    color: white;
}

.example {
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgb(238, 238, 238);
}

#exampleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}